#title_site{
    font-family: 'Roboto', sans-serif;
}

body{
  font-family: 'Roboto', sans-serif;
}

#ul_countries{
  list-style-type: none;
}

.li_country{
  background-color: #17198A;
  border-radius: 5%;
}
.li_country:hover {
  background-color: #171fff;
}

#body_info{
  background-color: #17198A;
}

#head-list-info{
  background-color: #2225C9;
}
#head-list-info {
  background-color: #2225C9;
}


.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
  }
  .grid-item {
    color: aliceblue;
    padding: 20px;
    font-size: 30px;
    text-align: center;
  }