body {
    background-color: black;
    font-family: 'Baloo Chettan 2', cursive;
    color: aliceblue;
    justify-content: center;
    
}

.card {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 210px 210px 80px;
    grid-template-areas: "image" "texte" "stats";

    border-radius: 18px;
    background: white;
    box-shadow: 5px 5px 15px rgba(0,0,0,0.9);
    color: black;
    text-align: center;

    width: 30%;
    height: 70%;

    margin-bottom: 50px;
}


#map1 {
    width: auto;
    height: 500px
}

@media only screen and (max-width: 600px) {
    #map1 {
        width: auto;
        height: 250px
    }
    .card{
        font-size: 20px;
        width: 50%;
    }
  }

#list_affected {
    align-content: center;
}

